<div class="text-center mb-4">

  <h1 class="h3 mb-3">
    <img class="logo" src="/assets/images/merostocks-logo.png" alt="">
  </h1>
</div>

<form class="form-signin" (ngSubmit)="login()">
  <div class="form-label-group">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>

      <input type="text" name="username" matInput [(ngModel)]="username" required>
    </mat-form-field>
  </div>
  <div class="form-label-group">

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>

      <input type="password" name="password" matInput [(ngModel)]="password" required>
    </mat-form-field>
  </div>

  <div class="checkbox mb-3 text-danger" *ngIf="loginError">
    Login failed. Please try again.
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="busy">
    Sign in
  </button>

  <div class="small text-secondary mt-3 d-none d-sm-flex">
    <strong>Example logins:</strong>
    <ul>
      <li>admin: securePassword</li>
      <li>test1: password1</li>
      <li>test2: password2</li>
    </ul>
  </div>
</form>