// .sm-text{
//   display: none;
// }
// @media (max-width: 768px) {
//   .table tr td:nth-child(2), .table tr td:nth-child(3), .table tr td:nth-child(4), .table tr td:last-child {
//     display: none;
//   }
//   // .diff-data{
//   //   padding: 0;
//   //   position: inherit;
//   // }
//   .stocks-data-table{
//     border-radius: 10px;
//     box-sizing: border-box;
//     overflow: hidden;
//   }
//   .lg-text{
//     display: none;
//   }
//   .sm-text{
//     display: block;
//   }
//   .table tr td:first-child{
//     min-width: auto;
//   }
//   .ltp-thead{
//     min-width: 115px;
//   }
// }

table.mat-table {
  width: 100%;
}
.my-table-wrapper {
  // padding: 0 16px;
}
.partner-title {
  margin: 50px 16px 25px;
  color: #000000;
}

th.mat-header-cell,
td.mat-footer-cell {
  font-size: 15px;
}
@media (max-width: 540px) {
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    font-size: 13px;
  }
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 2px;
    min-width: 115px;
  }
  .my-table-wrapper{
    padding: 0;
  }
}
