<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>MeroStocks</mat-toolbar>
    <mat-nav-list *ngIf="(user$ | async)?.email">
      <a mat-list-item [routerLink]="['/create-partner']" (click)="drawer.toggle()">Create Partner</a>
      <a mat-list-item (click)="logoutHandler();drawer.toggle()">Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="(user$ | async)?.email" color="primary">
      <button type="button" class="menu-toggler-btn" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a class="brandname" [routerLink]="['/']">MeroStocks</a></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
      </button>
      <span>Hi, {{(user$ | async)?.first_name}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <ng-content></ng-content>


  </mat-sidenav-content>
</mat-sidenav-container>
