.diff-data {
  position: absolute;
  right: 10px;
  top: 0px;
  color: #000000;
  background: yellow;
  padding: 0px 5px;
}

.profit td {
  background: #2e7d32;
}
.loss td {
  background: #c62828;
}
#total-diff {
  position: absolute;
  bottom: -40px;
  right: 0;
  font-size: 18px;
  background: yellow;
  color: black;
  padding: 5px 12px;
}

.pt25 {
  padding-top: 25px;
}
button:focus{
  outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// .mat-drawer-container{
//   background-color: #ffffff;
// }

mat-toolbar.mat-primary {
  background: #424242 !important;
  color: #fff !important;
}
.mat-drawer-content{
  padding-bottom: 60px;
}

.mat-form-field.mat-focused .mat-form-field-label {
  // color: #4caf50 !important;
  color: #D7CCC8 !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple{
  // background-color: #4caf50 !important;
  background-color: #D7CCC8 !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
  box-shadow: 0 0 0 30px #3c3b3b inset !important;
  -webkit-text-fill-color: #ffffff !important;
}