

<div class="container">

  <mat-card class="overview-card">
    <h1>
      Total Value: <br>
      <span id="total-value" style="color: #1a9c1a;">{{formatter.format(total)}}</span>
    </h1>
   
    <h3>{{diff}}</h3>
    <mat-spinner *ngIf="loading" class="loading-spinner" [diameter]="30"></mat-spinner>

  </mat-card>

</div>

<ng-container *ngIf="partners">
  <app-partner-overview [partner]=partner.partner [records]=partner.partner.stock_ownerships
    *ngFor="let partner of partners"></app-partner-overview>
</ng-container>

